<h1>Dashboard</h1>
<h2>Your booked cosplays</h2>
<% current_user.bookings.each do |booking| %>
  <div class="row d-flex dashboard-card">
    <div class="container col-6"><p>
      <h1><%= booking.cosplay.title %></h1>
        <p>Owner: <%= booking.cosplay.user.first_name %> <%= booking.cosplay.user.last_name %></p>
        <p>Price: <%= booking.cosplay.price %>€</p>
        <p>Details: <%= booking.cosplay.details %></p>
        <p>Date: <%= booking.date %> </p>
      </div>
        <div class="container col-6">
          <%= cl_image_tag(booking.cosplay.photo.key,
                width: 200, crop: :fill) %>
        </div>
  </div>
<% end %>
