<h1>Your booked cosplays</h1>
<% current_user.bookings.each do |booking| %>
<div class="d-flex justify-content-center">
  <div class="row d-flex dashboard-card col-6">
    <div class="container col-6"><p>
      <h1><%= booking.cosplay.title %></h1>
        <p>Owner: <%= booking.cosplay.user.first_name %> <%= booking.cosplay.user.last_name %></p>
        <p>Price: <%= booking.cosplay.price %>€</p>
        <p>Details: <%= booking.cosplay.details %></p>
        <p>Date: <%= booking.date %> </p>
      </div>
        <div class="container col-6">
          <%= cl_image_tag(booking.cosplay.photo.key,
                width: 250, crop: :fill) %>
        </div>
  </div>
</div>
<% end %>
