<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0)), url(<%=asset_path 'cosplay-banner-cropped.jpg'  %>)">
  <div class="container">
    <h1 id="home-title">Rent a <strong>cosplayer</strong></h1>
    <p>Let us help you find a cosplayer!</p>
    <%= simple_form_for :search, url: root_path, method: :get do |f| %>
    <div class="search-form-control form-group">
      <input class="form-control string required" type="text" placeholder="Batman, Jack Sparrow..." name="search[query]" id="search_query" />
      <button name="button" type="submit" class="btn btn-primary">
        <i class="fas fa-search"></i> Search
      </button>
    </div>
    <% end %>
  </div>
</div>
<div class="cards ">
      <a href="/cosplays/index" text-decoration: none>
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%=asset_path 'superheroes.jpg'  %>)">
          Superheroes
        </div>
      </a>
      <a href="">
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%=asset_path 'disney.png'  %>)">
          Disney characters
        </div>
      </a>

      <a href= "/cosplays">
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%=asset_path 'popular.jpg'  %>)">
          Most popular
        </div>
      </a>
    </div>
