
<div id="cosplay-index-top">
  <h1>Cosplays Available</h1>
  <%= link_to new_cosplay_path do %>
    <i class="fas fa-solid fa-plus my-1 py-2 px-2 btn btn-outline-primary"> Become a cosplayer</i>
  <% end %>
</div>
<br>
<div class="index-cards">
  <% @cosplays&.each do |c| %>
    <%= link_to cosplay_path(c), class: 'card-trip' do %>
      <% if c.photo.key %>
        <%= cl_image_tag(c.photo.key) %>
      <% else %>
        <%= cl_image_tag '' %>
      <% end %>
      <div class="card-trip-infos">
        <div>
          <h2> <%= c.title  %></h2>
        </div>
        <h2 class="card-trip-pricing">€ <%= c.price %> </h2>
        <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
      </div>
    <% end %>
  <% end %>
</div>
