<h1>Create your cosplay listing</h1>

<%= simple_form_for(@cosplay) do |f| %>
    <%= f.input :title, placeholder: 'What is your costume?' %>
    <%= f.input :details, placeholder: 'Short description of your coslplay...' %>
    <%= f.input :photo, as: :file %>
    <%= f.input :price, as: :string, placeholder: 'e.g. 59.99' %>
    <%= f.button :submit, class: 'btn-flat' %>
  <% end %>
