<%= link_to cosplays_path do %>
  <i class="fas fa-solid fa-angle-left my-3 btn btn-primary"> Back</i>
<% end %>
<div class="container">
  <div class="row">
    <div class="col-sm-6" id="cosplay_image">
      <% if @cosplay.photo.key %>
        <%= cl_image_tag(@cosplay.photo.key) %>
      <% end %>
    </div>
    <div class="col-sm-6">

      <h1><%= @cosplay.title %></h1><br>
        <h4><%= @cosplay.user.first_name %> <%= @cosplay.user.last_name %></h4>
        <p><i class="fas fa-solid fa-info"></i> <%= @cosplay.details %></p>
        <p><i class="fas fa-solid fa-euro-sign"> </i> <%= @cosplay.price %></p><br><br>
        <% unless current_user == @cosplay.user %>
          <%= link_to "Book now", new_cosplay_booking_path(@cosplay), class: "btn btn-flat" %>
        <% end %>
        <br>
        <% if current_user == @cosplay.user %>
          <span><%= link_to 'Edit', edit_cosplay_path(@cosplay) %></span> |
          <span><%= link_to 'Delete listing', @cosplay, method: :delete, data: { confirm: 'Are you sure you want to delete this listing?'} %></span>
        <% end %>
    </div>
  </div>
</div>
